[submodule "vim/pack/cotste/start/vimtex"]
	path = vim/pack/cotste/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/pack/cotste/start/vim-ps1"]
	path = vim/pack/cotste/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vim/pack/cotste/start/ale"]
	path = vim/pack/cotste/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/cotste/start/tern_for_vim"]
	path = vim/pack/cotste/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "vim/pack/cotste/start/vim-ariline-themes"]
	path = vim/pack/cotste/start/vim-ariline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/cotste/start/vim-ariline"]
	path = vim/pack/cotste/start/vim-ariline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/cotste/start/vim-fugitive"]
	path = vim/pack/cotste/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/cotste/start/vim-tmux-navigator"]
	path = vim/pack/cotste/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/cotste/start/nerdtree-git-plugin"]
	path = vim/pack/cotste/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "vim/pack/cotste/start/nerdtree"]
	path = vim/pack/cotste/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
