[submodule "vim/pack/cotste/start/VimCompletesMe"]
	path = vim/pack/cotste/start/VimCompletesMe
	url = https://github.com/ajh17/VimCompletesMe
[submodule "vim/pack/cotste/start/vimtex"]
	path = vim/pack/cotste/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/pack/cotste/start/vim-ps1"]
	path = vim/pack/cotste/start/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vim/pack/cotste/start/vim-tmux-navigator"]
	path = vim/pack/cotste/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
